  #container1 > h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vmax;
    font-weight: bold;
    text-align: center;
  }
  #container1 > p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vmax;
    font-weight: lighter;
    text-align: center;
  }
  #container1 {
    background-color: #c4c4c4;
    border-radius: 0;
    font-size: 30px;
    padding: 5vw;
    text-align: left;
  }
  form {
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    margin: 20px auto; 
    padding: 5%;
    width: 90%;
  }
  
  form textarea {
    width: 98.5%;
    height: 150px;
    min-height: 25px;
    resize: vertical;
  }
  #contact_form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vmax;
    font-weight: bold;
    letter-spacing: 3px;
  }
  #contact_form > input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vmax;
    font-weight: bold;
    letter-spacing: 1px;
  }
  #contact_form > textarea{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vmax;
    font-weight: normal;
    border-style: none;
    border-radius: 4px;
    margin-top: 8px;
  }
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    background-color: #c6c6c6;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover, button:focus {
    filter: brightness(125%);
  }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
      form {
      width: 70%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    form {
      width: 50%;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    form {
      width: 40%;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
      form {
      width: 30%;
    }
  }