.landingtext1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    bottom: 3rem;
    color: white;
    text-shadow: 
    -1px 1px 10px black;
    
}
.landingtext2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    position: relative;
    bottom: 4rem;
    color: white;
    text-shadow: 
    -1px 1px 10px black;
}

.introbox{
    background-color: gray;
    height: calc(15vw - 1vh);
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    bottom: 3vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.intro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(4vw + 1vmin);
    font-weight: bold;
    position: relative;
    margin: 1%;
    color: black;
    
}
ul > li {
    list-style-type: none;
}
.parabox{
    background-color: rgba(155, 155, 155, 0.4);
    border: 2px gray;
    border-radius: 5px;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: calc(3vh - 1vh);
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px;

}
.paradesc1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(2vw + 1vh);
    font-weight: normal;
    position: relative;
    text-align: center;
    margin: 1%;
    padding: 10px;
    line-height: calc(2vw + 2vh);
    color: black;
    
}
.paradesc2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(2vw + 1vmax);
    font-weight: lighter;
    position: relative;
    text-align: center;
    margin: 0;
    line-height: calc(2vw + 2vh);
    letter-spacing: calc(2vw + 1vh);
    color: black;
    text-shadow: -1px 1px 2px black;
    
}

#whitespace{
    margin-top: 50%;
}
#heroimage{
    margin: 0;
    margin-bottom: -5rem;
    width: 100%;
    object-fit: fill;
}
.herotext{
    margin: 0;
    position: relative;
    top: 20%;
    object-fit: fill;
}

@media only screen and (min-width: 768px) {
    .landingtext1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3vw;
        text-align: center;
        position: relative;
        bottom: 2rem;
        color: white;
        text-shadow: 
        -1px 1px 10px black;
        
    }
    .landingtext2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2vw;
        text-align: center;
        position: relative;
        bottom: 2rem;
        color: white;
        text-shadow: 
        -1px 1px 10px black;
    }
    .introbox{
        background-color: gray;
        height: 8vw;
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        position: relative;
        bottom: calc(1.5vw - 4vh);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }
    .intro{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 4vw;
        font-weight: bold;
        position: relative;
        margin: 1%;
        color: black;
    }
    .parabox{
        background-color: rgba(155, 155, 155, 0.4);
        border: 2px gray;
        border-radius: 5px;
        height: 100%;
        width: 98%;
        display: flex;
        justify-content: left;
        align-items: center;
        position: relative;
        bottom: calc(1.5vw - 5vh);
        margin: auto;
        padding: 0;
        box-sizing: border-box;
        box-shadow: 0px 1px 4px;
    
    }
    .paradesc1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: calc(1.25vw + 1.5vmin);
        font-weight: normal;
        position: relative;
        text-align: left;
        margin: 1%;
        line-height: calc(4vw + 2vh);
        color: black;
        
    }
    .paradesc2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: calc(2.5vw + 1vmin);
        font-weight: lighter;
        position: relative;
        text-align: left;
        margin: 0;
        line-height: calc(1vw + 5vh);
        letter-spacing: 2vw;
        color: black;
        text-shadow: -1px 1px 2px black;
        
    }   
    #heroimage{
        margin: 0;
        margin-bottom: -10rem;
        width: 100%;
        object-fit: fill;
    }
}