/* Mobile First View */
/* Photo Grid */
html body{
    background-color: silver;
}
#row {
	display: flex;
	flex-wrap: wrap;
	padding: 1px;
	vertical-align: top;
}

.column {
	margin-top: 20px;
	max-width: 100%;
	vertical-align: top;
}

.column img {
	padding-bottom: 5px;
	width: 100%;
}
.font {
	background-color: rgb(107, 107, 107);
	color: rgb(255, 255, 255);
	text-shadow: -1px 1px 2px black;
	border-radius: 8px;
	padding: 5px;
	margin-bottom: 20px;
	margin-top: 0px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 5cqb;
	text-align: center;
}
/* For desktops */
@media only screen and (min-width: 768px) {
	.column {
		max-width: 50%;
		padding: 0 6px;
	}

	#row {
	padding: 0 6px;
	flex-wrap: nowrap;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.column {
		max-width: 25%;
	}

}

