/*This code is a mess*/
html, body{
    background-color: rgb(235, 235, 235);
    margin: 0;
    padding: 0;
    border-radius: 0;
}
.titlebox{
    border: solid black;
    height: 90px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.parabox{
    border: 2px solid rgb(255, 255, 255);
    height: 15rem;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);    
}
.left{
    text-align: left;
}
#landingbox{
    border: 1px solid gray;
    
}

.hometitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(2vmax + 1vmin);
    color: white;
    position: relative;
    left: 5%;
    text-decoration: none;
}

.pagefont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
#margin {
    margin-bottom: 0px;
  }
.footnote{
    margin: auto;
    text-align: center;
    float: left;
    background: #585858;
    height: 90%;
    width: 100%;
}
.footnotefont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
}
/*Menu for small screens*/
#menu{
    display: none;
}

#menuimage{ /*This is the navigation menu icon*/
    background-color: rgb(255, 255, 255);
    display: block;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 80px; 
    position: absolute;
    top: 5px;
    right: 5px;
}

#menu:not(:checked) + nav { /*The checkmark or toggle, invis*/
    margin: auto;
    position: absolute;
    display: none;
}
nav{
    width: 100%;
    position: absolute;
    left: -20px;
}
nav a { /*This affects the default boxes for pc somehow*/
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    color: white;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding: 0px 10px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    line-height: 85px;
    height: 90px;
    width: 100%;
    z-index: 100;
}
/*These make the selected navigation link highlighted*/
nav a:hover{
    background-color: white;
    color: black;
}
nav a:focus{
    background-color: white;
    color: black;
    outline: none;
}
.active_nav{
    background-color: rgba(32, 38, 56, 0.8);
    color: white;
}

/*Medium devices up to or PC mode*/
@media only screen and (min-width: 768px){
    
    /*Hides the menu*/
    #menuimage {
        display: none;
    }

    /*Show the nav links*/
    #menu:not(:checked) + nav {
        display: flex;
    }

    nav {
        width: 100%;
        float: right;
    }
    
    nav a { /*Adjusts the default pc navigation layout*/
        position: relative;
        bottom: 85px; /*out of the title box compensation*/
        left: 50%;
        width: 10%;
    }
    .hometitle{ /*Prevents title scaling, and it affects the nav boxes somehow*/
        font-size: 1.8rem;
    }
}